<!-- {% extends "choice.html" %} -->
<!-- {% block chart %} -->
<h2>Select from different graph types</h2>
<form action="demo_form.asp" method="post">
  <input type="radio" name="graphs"  value='chart1'>Line Chart<br>
  <input type="radio" name="graphs"  value='chart2'>Bar Chart<br>
  <input type="radio" name="graphs"  value='chart5'>Pie Chart<br>
  <!-- <input type="radio" name="graphs"  value='chart3'>Radar Chart<br> -->
  <!-- <input type="radio" name="graphs"  value='chart4'>Polar Area Chart<br> -->
  <!-- <input type="radio" name="graphs"  value='chart6'>Doughnut Chart<br> -->
<input type="submit" value="Submit">
</form>
<!-- {% endblock %} -->